@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
	themes: light, dark;
}
@plugin '@iconify/tailwind4' {
	prefixes: lucide;
}

/* Toaster */
@source '../node_modules/svelte-daisy-toaster/dist';

@theme {
	--font-mono: 'Roboto Mono', monospace;
}

@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

@layer utilities {
	.bg-dot-pattern {
		background-image: radial-gradient(currentColor 1px, transparent 1px);
		background-size: 24px 24px;
		mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
	}
}
